@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --navy: hsl(243, 87%, 12%);
    --desaturatedBlue: hsl(238, 22%, 44%);
    --blue: hsl(224, 93%, 58%);
    --cyan: hsl(170, 45%, 43%);
    --lightGray: hsl(240, 75%, 98%);
    --gray: hsl(0, 0%, 75%);
    --black: #000;
    --white: #fff;
    --Raleway: 'Raleway', sans-serif;
    --OpenSans: 'Open Sans', sans-serif;
}

::selection {
    color: var(--white);
    background-color: var(--blue);
}

body {
    background-color: var(--white);
    color: var(--navy);
    min-height: 100vh;
    min-width: 375px;
    max-width: 1980px;
    overflow-x: hidden;
    margin: 0 auto;
    font-family: var(--OpenSans);
    text-align: center;
}

h1, h2, a {
    font-family: var(--Raleway);
}

.container {
    max-width: 500px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7.5em;
    padding: 2em 1.75em;
}

.nav > img {
    width: 100px;
    margin: 0;
}

.nav-text {
    display: flex;
    gap: 1em;
}

.nav-text a {
    color: var(--navy);
}

.main-content {
    padding: 0 1.75em;
}

.main-content > img {
    margin-bottom: 3em;
}

h1 {
    font-size: 30px;
    line-height: 1.35;
    margin-bottom: 1em;
}

p {
    line-height: 1.35;
    margin-bottom: 2em;
}

input {
    display: block;
    width: 100%;
    border: 1px solid var(--navy);
    border-radius: 5px;
    padding: 1em 2em;
    margin-bottom: 1.5em;
    color: var(--navy);
}

::placeholder {
    font-family: var(--OpenSans);
    color: var(--gray);
    font-size: 14px;
}

input:focus {
    outline:none;
    border:1px solid var(--blue);
}

.input a {
    display: block;
    width: 100%;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--blue);
    padding: 0.75em;
    font-family: var(--OpenSans);
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 5em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: background-color 0.3s;
}

.input a:hover {
    background-color: hsla(224, 93%, 58%, 0.75);
}

.main-content-2 {
    background-color: var(--lightGray);
    padding: 5em 1.75em;
}

.main-content-2 > img {
    margin-bottom: 5em;
}

.main-content-2-text h1 {
    font-size: 18px;
    margin-bottom: 1.5em;
}

.main-content-2-text p {
    text-align: left;
    line-height: 1.5;
}

.main-content-2-text a {
    color: var(--cyan);
    padding-bottom: 0.5em;
    border-bottom: 2px solid var(--cyan);
    transition: color 0.3s, border-bottom 0.3s;
}

.main-content-2-text a:hover {
    color: hsla(170, 45%, 43%, 0.5);
    border-bottom: 2px solid hsla(170, 45%, 43%, 0.5);
}

.main-content-2-text a img {
    display: inline;
    vertical-align: middle;
    width: 25px;
}

.testimonial {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: var(--white);
    padding: 2em 0.75em 2em 1.75em;
    width: 85%;
    margin: 3em auto 0 auto;
    border-radius: 5px;
    text-align: left;
}

.testimonial > img {
    margin: 0 0 1em 0;
    width: 15px;
}

.testimonial p {
    font-size: 14px;
    margin-bottom: 1.5em;
}

.flex { 
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.flex img {
    margin: 0;
    border-radius: 50%;
    width: 40px;
}

.flex h3 {
    font-size: 14px;
}

.flex span {
    font-size: 12px;
}

.early {
    background-color: var(--desaturatedBlue);
    padding: 5em 2.5em 1em 2.5em;
    color: var(--white);
}

.early-text h2 {
    font-size: 22px;
    margin-bottom: 1em;
}

.early-text p {
    line-height: 1.75;
}

.early input {
    width: 90%;
    padding: 1em;
    margin: 0 auto 1.5em auto;
}

.early-input a {
    display: block;
    width: 90%;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--blue);
    padding: 0.75em;
    font-family: var(--OpenSans);
    font-size: 15px;
    margin: 0 auto 5em auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: background-color 0.3s;
}

.early-input a:hover {
    background-color: hsla(224, 93%, 58%, 0.75);
}

footer {
    background-color: var(--navy);
    padding: 3em 2.5em;
    color: var(--white);
    text-align: left;
}

footer > img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(40%) saturate(3%) hue-rotate(231deg) brightness(112%) contrast(100%);
    margin: 0 0 3em 0;
}

.contact {
    margin-bottom: 3em;
}

.info {
    display: flex;
    gap: 1em;
    align-items: center;
    margin-bottom: 1em;
}

.info img {
    margin: 0;
}

.info p {
    margin: 0;
}

.footer-text a, .footer-text-2 a {
    color: var(--white);
    font-size: 18px;
    transition: color 0.3s;
}

.footer-text a:hover, .footer-text-2 a:hover {
    color: var(--blue);
}

.footer-text li, .footer-text-2 li {
    margin-bottom: 1.5em;
}

.footer-text {
    margin-bottom: 3em;
}

.footer-text-2 {
    margin-bottom: 5em;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.icons > span {
    transition: filter 0.2s;
    cursor: pointer;
}

.icons > span:hover {
    filter: brightness(0) saturate(100%) invert(39%) sepia(38%) saturate(7287%) hue-rotate(217deg) brightness(96%) contrast(102%);
}
